h1 {
    text-align: center; font-family: Arial; font-size: 32px;
}  
.demographics{
    text-align: right; background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;

}
#language{
    color: orange;
}
img {
    display: block;
    margin: 0 auto;
}
figcaption {
    text-align:center;   
}
